name: Run tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"] 

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4   
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest -q  
deploy:
  needs: tests
  runs-on: ubuntu-latest

steps:
  - name: Checkout repo
    uses: actions/checkout@v4

  - name: Build Docker image
    run: docker build -t stroevmyapp:latest .

  - name: Save Docker image to tar
    run: docker save stroev
      
