name: Run tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"] 

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4   
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest -q  
  deploy:
    needs: tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

  - name: Build Docker image
    run: docker build -t stroevmyapp:latest .
  
  - name: Save Docker image to tar
    run: docker save stroevmyapp:latest -o stroevmyapp.tar

  - name: fix permissions
    run: sudo chmod 644 stroevmyapp.tar

  - name: copy image to server 
    uses: appleboy/scp-action@v0.1.7
    with:
      host: ${{ secrets.HOST }}
      username: ${{ secrets.USERNAME }}
      password: ${{ secrets.PASSWORD }}
      port: ${{ secrets.PORT }}
      source: "stroevmyapp.tar"
      target: "~/Stroev"

  - name: Deploy on server via SSH
    uses: appleboy/ssh-action@v1
    with:
      host: ${{ secrets.HOST }}
      username: ${{ secrets. USERNAME }}
      password: ${{ secrets.PASSWORD }}
      port: ${{ secrets.PORT}}
      source: "~/Stroev"
      script:
        cd ~/Stroev
        mkdir -p ~/deploy
        cd ~/deploy

        echo "Loading Docker image..."
        docker load -i stroevmyapp.tar

        echo "Stopping old container..."
        docker rm -f stroevmyapp || true

        echo "Startin new container..."
        docker run -d --name stroevmyapp stroevmyapp:latest

        echo "Deployment finished"
      
    
      
